
##Trabajo con diccionarios.

tenemos dos listas, **lista_1** y **lista_2** – con **lista_1** conteniendo las claves y **lista_2** conteniendo los correspondientes valores.

Ahora podemos usar la función **zip()** para comprimir estas dos listas, llegando a generar los pares de clave-valor (es decir, los elementos de estas dos listas).

In [ ]:
dias =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

In [ ]:
temp_semanal = {dias:temp for (dias,temp) in zip(dias,temp)}

print(temp_semanal)

{'Sunday': 30.5, 'Monday': 32.6, 'Tuesday': 31.8, 'Wednesday': 33.4, 'Thursday': 29.8, 'Friday': 30.2, 'Saturday': 29.9}

Existen diferentes opciones para definir diccionarios en Python. La manera mas habitual que utilizo para crear un diccionario, es exactamente utilizando clave - valor

In [ ]:
diccionario = {"clave1":"valor1","clave2":"valor2"}

##ENSEÑANZA DE DICCIONARIOS.
Los diccionarios almacenan pares de objetos clave-valor. En contraste con las listas, los diccionarios no garantizan que se mantenga el orden en que sus objetos han sido almacenados. Además, en un diccionario el acceso a un objeto se realiza indicando la clave de ese objeto. Este es otro elemento diferenciador entre diccionarios y listas, donde el acceso a los objetos se realiza indicando la posición que ocupan. Los diccionarios utilizan llaves ({}) para encerrar a sus elementos, y dos puntos (:) para indicar las claves y sus valores asociados.


llaves = Clave1  no puede haber claves duplicadas y éstas tienen que ser objetos inmutables.  

valores = Valor1  no existe ninguna restricción en cuanto a los tipos de datos.

**diccionario = {'clave1':'valor1', 'clave2':'valor2'}**

In [ ]:
diccionario = {'clave1':'valor1', 'clave2':'valor2'}
type(diccionario)

dict

##Metodo Diccionarios:
##d.keys(): Devuelve una lista que contiene las llaves del diccionario.

In [ ]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
list(capitales.keys())

['Inglaterra', 'Francia', 'Italia']

##d.values(): Devuelve una lista que contiene los valores del diccionario.

In [ ]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
list(capitales.values())

['Londres', 'Paris', 'Roma']

##d.items(): Devuelve una lista de tuplas con los pares clave-valor del diccionario.

In [ ]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
list(capitales.items())

[('Inglaterra', 'Londres'), ('Francia', 'Paris'), ('Italia', 'Roma')]

##d.clear(): Elimina todos los elementos del diccionario.

In [ ]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
capitales.clear()
capitales

{}

##d.get(clave, valor_por_defecto): Devuelve el valor de la clave indicada en caso que ésta exista. En caso contrario devuelve el valor por defecto.

In [ ]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
capitales.get('Alemania', 'Desconocida')

'Desconocida'

##d.pop(clave, valor_por_defecto): Elimina la clave indicada y devuelve su valor. En caso que el diccionario no contenga la clave especificada, retorna el valor por defecto.

In [ ]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma'}
capitales.pop('Francia')

'Paris'

In [ ]:
capitales

{'Inglaterra': 'Londres', 'Italia': 'Roma'}

In [ ]:
capitales.pop('Alemania', 'Berlin')

'Berlin'

##Operaciones con interprete.
En el caso de los diccionarios, el interprete nos proporciona la función len(). Esta función nos retorna el número de pares clave-valor de un diccionario.

In [ ]:
capitales = {'Inglaterra':'Londres', 'Francia':'Paris', 'Italia':'Roma','Colombia':'Bogota'}
len(capitales)

4

##Modificar los objetos de un diccionario

Para acceder a un objeto determinado de un diccionario tenemos que indicar entre corchetes el nombre de su clave. De modo muy similar podemos modificar el valor de una clave asignándole un nuevo valor mediante el signo igual (=). Además, también podemos añadir un nuevo par clave-valor indicando simplemente el nombre de la clave a añadir. Estas operaciones se ilustran en el siguiente bloque de código donde: i) accedemos al precio de las manzanas, ii) modificamos el precio de las manzanas y iii) añadimos el precio del agua al diccionario de precios.

In [ ]:
precios = {'pasta':0.9, 'patatas':2.55, 'manzanas':0.35}
precios['manzanas']

0.35

In [ ]:
precios['manzanas'] = 0.29
precios

{'pasta': 0.9, 'patatas': 2.55, 'manzanas': 0.29}

In [ ]:
precios['agua'] = 1.47
precios

{'pasta': 0.9, 'patatas': 2.55, 'manzanas': 0.29, 'agua': 1.47}

##Ejemplo por comprensión:

##Una lista es una colección ordenada de varios elementos con un nombre común. Es sencillo crear y administrar listas en Python. Para hacerlo más fácil, tenemos el método de comprensión de listas. Este método es mucho más conciso, elegante y, por lo general, es solo una línea de código. Por lo general, implica el uso del bucle for entre corchetes.

##Una comprensión de diccionario tiene la forma {clave: valor para(clave, valor) en iterable}

In [ ]:
myDict = {x: x**2 for x in [1,2,3,4,5]} 
print (myDict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
lst = [i for i in range(1,10)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

##Todos sabemos que podemos crear una lista de claves y valores de un diccionario. Usando el método de comprensión de diccionario, podemos crear fácilmente un diccionario usando elementos de una lista. Se muestra en el siguiente ejemplo.

In [ ]:
keys = [1,2,3,4,5]
vals = ['Mark','Jack','Jake','Sam','Ash']

d = {i:j for i,j in zip(keys,vals)}

print(d)

{1: 'Mark', 2: 'Jack', 3: 'Jake', 4: 'Sam', 5: 'Ash'}

##EJEMPLO POR LAMBDA

In [ ]:
lis = [{ "name" : "Nandini", "age" : 20}, 
{ "name" : "Manjeet", "age" : 20 },
{ "name" : "Nikhil" , "age" : 19 }]
 
print("The list printed sorting by age: ")
print(sorted(lis, key = lambda i: i['age'],reverse=True))

In [ ]:
print("The list printed sorting by age and name: ")
print(sorted(lis, key = lambda i:(i['age'], i['name'])))

##EJERCICIO 2. BY Nicolás Lopez

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# Double each value in the dictionary
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [ ]:
dict1_keys = {k*2:v for (k,v) in dict1.items()}
print(dict1_keys)

{'aa': 1, 'bb': 2, 'cc': 3, 'dd': 4, 'ee': 5}

In [ ]:
numbers = range(10)
new_dict_for = {}

In [ ]:
numbers = range(10)
new_dict_comp = {n:n**2 for n in numbers if n%2 == 0}
print(new_dict_comp)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
diccionario = {"x" : 10, "y" : 20, "z" : 30}
duplicar = {v**2 for (v) in diccionario.values()}
duplicar

{100, 400, 900}

In [ ]:
numero = range(1,15)
diccionario2 = {i:i**2 for i in numero if i%2 == 0}
print(diccionario2)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196}

In [ ]:
diccionario = {"x" : 10, "y" : 20, "z" : 30}
duplicar = {k+k for (k) in diccionario.keys()}
duplicar

{'xx', 'yy', 'zz'}

In [ ]:
numbers = range(10)
new_dict_for = {}
for n in numbers:
    if n%2==0:
        new_dict_for[n] = n**2
print(new_dict_for)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
numbers = range(10)
new_dict_comp = {n:n**2 for n in numbers if n%2 == 0}
print(new_dict_comp)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

##EJERCICIO 3. BY Diego

In [ ]:
#Reconoce las claves repetidas sea mayuscula o minuscula y suma sus valores 
#Tradicional
artículos= {"lápiz": 8, "LÁPIZ": 3,"Lápiz":9, "sacapuntas": 20, "SACAPUNTAS":4, "BORRADOR": 3, "borrador":3}
artículos_repetidos = {vendidos.lower(): artículos.get(vendidos.lower(), 0) + artículos.get(vendidos.upper(), 0) 
                        for vendidos in artículos.keys()}
print(artículos_repetidos)
 
#get():Devuelve el valor correspondiente a la clave especificada.

{'lápiz': 11, 'sacapuntas': 24, 'borrador': 6}

In [ ]:
#Función
def cantidades_vendidad(artículos):
 artículos_repetidos = {vendidos.lower(): artículos.get(vendidos.lower(), 0) + artículos.get(vendidos.upper(), 0) 
                           for vendidos in artículos.keys()}
 print(artículos_repetidos)

artículos= {"lápiz": 8, "LÁPIZ": 3,"Lápiz":9, "sacapuntas": 20, "SACAPUNTAS":4, "BORRADOR": 3, "borrador":3} 
cantidades_vendidad(artículos)

{'lápiz': 11, 'sacapuntas': 24, 'borrador': 6}

##EJERCICIO 4. BY Juan Sebastian

In [9]:
#Tradicional
import random
clientes = ["Alex","Bob","Carol","David","Flow","Katie","Nate"] 
Cliente2 = ["Bob","Carol","David","Katie","Nate"] 
def comprimir(lista):
  for i in range(len(lista)):
   diccionario_descuentos = {lista:random.randint(1,100) for lista in lista} #En Python, random.randint(i,j) retorna un valor entre i y j incluyendo ambos extremos.
  print(diccionario_descuentos)

In [11]:
comprimir(clientes)

{'Alex': 16, 'Bob': 49, 'Carol': 8, 'David': 57, 'Flow': 49, 'Katie': 29, 'Nate': 68}

In [10]:
#Compresión
import random
clientes = ["Alex","Bob","Carol","David","Flow","Katie","Nate"] 
diccionario_descuentos = {clientes:random.randint(1,100) for clientes in clientes} #En Python, random.randint(i,j) retorna un valor entre i y j incluyendo ambos extremos.
print(diccionario_descuentos)

{'Alex': 40, 'Bob': 43, 'Carol': 86, 'David': 97, 'Flow': 82, 'Katie': 56, 'Nate': 11}

##EJERCICIO 5. BY Camilo Andrés

In [ ]:
ciudad = ["Barranquilla","Bogotá","Bucaramanga","Pasto","Cucuta","Pamplona","Riohacha"]
numero_de_habitantes = [1206000,7181000,581130,392930,711715,57803,188014]
ciudad_nhabitantes = {ciudad:numero_de_habitantes for (ciudad,numero_de_habitantes) in zip(ciudad,numero_de_habitantes)}

print("El numero de habitantes en cada ciudad es de: ", end="")
print(ciudad_nhabitantes)

El numero de habitantes en cada ciudad es de: {'Barranquilla': 1206000, 'Bogotá': 7181000, 'Bucaramanga': 581130, 'Pasto': 392930, 'Cucuta': 711715, 'Pamplona': 57803, 'Riohacha': 188014}

##EJERCICIO 6. BY Angelieth

Se plantea un ejercicio donde los elementos de dos listas se enlazan con la función zip creando un diccionario. Para mayor complejidad se plantea que de acuerdo a los valores de temperatura de la segunda lista se de una descripción sobre la misma considerando que:
**La Temperatura ambiente es de 18 a 25°C**

##**Por comprensión**

####**Forma 1**

In [ ]:
dias=["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]

In [ ]:
temp=[30.5, 12.0, 26.5, 20.0, 25.5, 11.5, 22.3]

In [ ]:
#Se crea el diccionario enlazando ambas listas
temp_semanal={dias: temp for (dias, temp) in zip(dias, temp)}
print(temp_semanal)

{'Lunes': 30.5, 'Martes': 12.0, 'Miércoles': 26.5, 'Jueves': 20.0, 'Viernes': 25.5, 'Sábado': 11.5, 'Domingo': 22.3}

####**Forma 2**
Aquí hay mayor complejidad, como la función solo asigna un único valor para la cada clave, entonces se procede a crear una tupla que contenga el valor de la temperatura y con su descripción. Luego el día es la clave y se le asigna dicha tupla como valor

In [ ]:
#[(30.5,"Temperatura caliente"),(),()]
ttupla=[]
for i in temp:
  
  if i<18:
    print("Temperatura fría")
    ttupla.append((i,"Temperatura fría"))
  elif i>18 and i<25:
    print("Temperatura ambiente")
    ttupla.append((i,"Temperatura ambiente"))
  elif i>25: 
    print("Temperatura caliente")
    ttupla.append((i,"Temperatura caliente"))

Temperatura caliente
Temperatura fría
Temperatura caliente
Temperatura ambiente
Temperatura caliente
Temperatura fría
Temperatura ambiente

In [ ]:
#Tupla hecha con la temperatura y su descripción
ttupla

[(30.5, 'Temperatura caliente'),
 (12.0, 'Temperatura fría'),
 (26.5, 'Temperatura caliente'),
 (20.0, 'Temperatura ambiente'),
 (25.5, 'Temperatura caliente'),
 (11.5, 'Temperatura fría'),
 (22.3, 'Temperatura ambiente')]

In [ ]:
#Creación del diccionario 
resultado = {dias: ttupla for (dias, ttupla) in zip(dias, ttupla)} 
resultado

{'Lunes': (30.5, 'Temperatura caliente'),
 'Martes': (12.0, 'Temperatura fría'),
 'Miércoles': (26.5, 'Temperatura caliente'),
 'Jueves': (20.0, 'Temperatura ambiente'),
 'Viernes': (25.5, 'Temperatura caliente'),
 'Sábado': (11.5, 'Temperatura fría'),
 'Domingo': (22.3, 'Temperatura ambiente')}

##**Ejercicio modo función**

In [ ]:
dias=["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]

In [ ]:
temp=[30.5, 12.0, 26.5, 20.0, 25.5, 11.5, 22.3]

In [ ]:
#Fución que permite crear la tupla, compara los valores de la temperatura para generar la descipción
def comparar (ttuppla):
  ttupla=[]
  for i in temp:
   if i<18:
    ttupla.append((i,"Temperatura fría"))
   elif i>18 and i<25:
    ttupla.append((i,"Temperatura ambiente"))
   elif i>25: 
    ttupla.append((i,"Temperatura caliente"))
  return ttupla

In [ ]:
tupla=comparar(temp)

In [ ]:
def enlace (dias, ttupla):
  resultado = {dias:ttupla for (dias, ttupla) in zip(dias, ttupla)} 
  return resultado

In [ ]:
#Diccionario terminado 
enlace(dias, tupla)

{'Lunes': (30.5, 'Temperatura caliente'),
 'Martes': (12.0, 'Temperatura fría'),
 'Miércoles': (26.5, 'Temperatura caliente'),
 'Jueves': (20.0, 'Temperatura ambiente'),
 'Viernes': (25.5, 'Temperatura caliente'),
 'Sábado': (11.5, 'Temperatura fría'),
 'Domingo': (22.3, 'Temperatura ambiente')}

###**Usando lambda y map**

###**Forma 1**

In [ ]:
def temp2(temp):#donde temp es una lista
  '''
  Esta función tiene como objetivo asociar a una temperatura una descripción
  '''
  ttupla=[]
  for i in temp:
    if i<18: ttupla.append((i,"Temperatura fría"))
    if i>=18 and i<25: ttupla.append((i,"Temperatura ambiente"))
    if i>=25: ttupla.append((i,"Temperatura caliente"))
  return ttupla

In [ ]:
def clima2(l1,l2):
  y2=temp2(l2)
  return dict(map(lambda dias,tupla:(dias,tupla),l1,y2))

clima2(dias,temp)

{'Lunes': (30.5, 'Temperatura caliente'),
 'Martes': (12.0, 'Temperatura fría'),
 'Miércoles': (26.5, 'Temperatura caliente'),
 'Jueves': (20.0, 'Temperatura ambiente'),
 'Viernes': (25.5, 'Temperatura caliente'),
 'Sábado': (11.5, 'Temperatura fría'),
 'Domingo': (22.3, 'Temperatura ambiente')}

##**Forma 2**

In [ ]:
#asignar a una temperatura una descripción
a1=lambda x: (x,"Temperatura ambiente") if (x>=18 and x<25) else (x,"Temperatura fría") if x<18 else (x,"Temperatura caliente")

In [ ]:
a2=list(map(a1,temp))
a2

[(30.5, 'Temperatura caliente'),
 (12.0, 'Temperatura fría'),
 (26.5, 'Temperatura caliente'),
 (20.0, 'Temperatura ambiente'),
 (25.5, 'Temperatura caliente'),
 (11.5, 'Temperatura fría'),
 (22.3, 'Temperatura ambiente')]

In [ ]:
a3=dict(map(lambda x1,x2:(x1,x2),dias,a2))
a3

{'Lunes': (30.5, 'Temperatura caliente'),
 'Martes': (12.0, 'Temperatura fría'),
 'Miércoles': (26.5, 'Temperatura caliente'),
 'Jueves': (20.0, 'Temperatura ambiente'),
 'Viernes': (25.5, 'Temperatura caliente'),
 'Sábado': (11.5, 'Temperatura fría'),
 'Domingo': (22.3, 'Temperatura ambiente')}

##EJERCICIO 7. BY Eliana 

**Por Comprensión**

In [ ]:
ini_dict = {"A":1, "B":-2, "C":-3, "D":7, "E":0, "F":-11, "G":16, "H":-7} 
 
print ("Vamos a filtar los números positivos del siguiente diccionario:",ini_dict) 
resultado = dict((k, v) for k, v in ini_dict.items() if v >= 0) 
 
print("Resultado: ", (resultado))

Vamos a filtar los números positivos del siguiente diccionario: {'A': 1, 'B': -2, 'C': -3, 'D': 7, 'E': 0, 'F': -11, 'G': 16, 'H': -7}
Resultado:  {'A': 1, 'D': 7, 'E': 0, 'G': 16}

**Lambda**

In [ ]:
ini_dict = {"A":1, "B":-2, "C":-3, "D":7/7, "E":0, "F":-11, "G":16, "H":-7} 
   
print ("Vamos a filtar los números positivos del siguiente diccionario:",(ini_dict))  
   
resultado = dict(filter(lambda x: x[1] >= 0.0, ini_dict.items())) #lambda se usa como argumento de filter 
resultado = dict(resultado)  
   
print("Resultado: ",resultado)

Vamos a filtar los números positivos del siguiente diccionario: {'A': 1, 'B': -2, 'C': -3, 'D': 1.0, 'E': 0, 'F': -11, 'G': 16, 'H': -7}
Resultado:  {'A': 1, 'D': 1.0, 'E': 0, 'G': 16}

**Por Función**

In [ ]:
D = {"A":1, "B":-2, "C":-3, "D":7/7, "E":0, "F":-11, "G":16, "H":-7} 
 
def funcion (): 
 
  print("Vamos a filtrar los números positivos del siguiente diccionario:" ,(D)) 
  resultado=dict(filter(lambda D: D[1] >= 0.0, D.items())) 
  return print(resultado) 
 
funcion()

Vamos a filtrar los números positivos del siguiente diccionario: {'A': 1, 'B': -2, 'C': -3, 'D': 1.0, 'E': 0, 'F': -11, 'G': 16, 'H': -7}
{'A': 1, 'D': 1.0, 'E': 0, 'G': 16}

##EJERCICIO 8. BY Silvia

**Diccionario por comprensión**

In [ ]:
name=["Ana", "Junita", "Carlos"]
years=[17,17,23]

sh = {name:years for (name,years) in zip(name,years)}

print(sh)

b="Los hermanxs son trillizos" if (years [0]==years[1] and years [0]==years [2]) else ""
c="Los hermanxs son gemelos" if (years [0]==years [1] or years [0]==years [2] or years [1]==years [2]) else""

print(b,c)

{'Ana': 17, 'Junita': 17, 'Carlos': 23}
 Los hermanxs son gemelos

**Función**

In [ ]:
name=["Ana", "Junita", "Carlos"]
years=[17,17,23]

sh = {name:years for (name,years) in zip(name,years)}

def funcion ():
 
  print(sh)

  b="Los hermanxs son trillizos" if (years [0]==years[1] and years [0]==years [2]) else ""
  c="Los hermanxs son gemelos" if (years [0]==years [1] or years [0]==years [2] or years [1]==years [2]) else""

  print(b,c)

In [ ]:
funcion()

{'Ana': 17, 'Junita': 17, 'Carlos': 23}
 Los hermanxs son gemelos

**Lambda**

In [ ]:
name=["Ana", "Junita", "Carlos"]
years=[17,17,23]

sh = {name:years for (name,years) in zip(name,years)}

gemelos=lambda name,years:"Los hermanxs son trillizos" if (years [0]==years[1] and years [0]==years [2]) else ""
print(gemelos)

<function <lambda> at 0x7fa322dd0b90>

In [ ]:
name=['Ana','Juanita','Carlos']
years=[17,17,23]
sh={name:years for (name,years) in zip (name,years)}
gemelos=(lambda name,years:"Los hermanos son trillizos"if (years [0]==years[1] and years[0]==years[2]) else " Jummm sospechoso")
print(gemelos(name,years))

 Jummm sospechoso

##EJERCICIO 9. By Diego 

Diccionarios , nombre del producto y precio. Calcular el iba y sumarselo y dar el valor con iva

**Compresión**

In [ ]:
def mercado():
  di1={'milk':0.75,'meat':10.69,'eggs':2.14,'bread':1.07}
  di2={  x:y*1.19 for (x,y) in di1.items()}
  print(f'El precio sin IVA de los productos es: {di1}')
  print(f'El precio con IVA de los productos es:{di2} ')
  return

In [ ]:
mercado()

El precio sin IVA de los productos es: {'milk': 0.75, 'meat': 10.69, 'eggs': 2.14, 'bread': 1.07}
El precio con IVA de los productos es:{'milk': 0.8925, 'meat': 12.721099999999998, 'eggs': 2.5466, 'bread': 1.2733}

**Lambda**

In [ ]:
def mercadolamb():
  di1={'milk':0.75,'meat':10.69,'eggs':2.14,'bread':1.07}
  lista=list(di1.keys())
  lista2=list(di1.values())
  di2=dict(map(lambda x,y:(x,0.19*y+y),lista,lista2))
  print(di2)

In [ ]:
mercadolamb()

{'milk': 0.8925000000000001, 'meat': 12.7211, 'eggs': 2.5466, 'bread': 1.2733}