#POO o programación orientada a objetos

Clase es como un molde

*   Variables > atributos
*   Funciones > métodos


*   Constructor > sustituye una clase
*   Objetos: comparten atributos, métodos, relaciones que tienen una identidad propia

In [1]:
class Empleado():
  pass

In [6]:
class Mascota():
  pass

In [3]:
a=Mascota 
b=Mascota

NameError: name 'Mascota' is not defined

In [8]:
if a==b:
  print("Son iguanitos")
else:
  print("No son iguanitos")
##Son iguales pq no les he hecho nada que los diferencie

Son iguanitos

In [22]:
class Empleado():
  #Construyendo un constructor
  def __init__(self,nombre, edad,ID,salario):
    self.nombre=nombre 
    self.edad=edad
    self.ID=ID
    self.salario=salario

  def __repr__(self):
    return f"nombre:{self.nombre}, edad:{self.edad}, ID:{self.ID}, salario:{self.salario}"

In [18]:
sonia=Empleado("Sonia",25,"U000157843", 10000000)

In [19]:
print(sonia)

nombre:Sonia, edad:25, ID:U000157843, salario:10000000

In [20]:
sonia.nombre

'Sonia'

In [25]:
madaniel=Empleado("Pirulais",83,"U00157944",1000000)

In [26]:
if sonia.salario==madaniel.salario:
  print(f"El salario de {madaniel.nombre} y {sonia.nombre} son iguales")
elif sonia.salario>madaniel.salario:
  print(f"El salario de {madaniel.nombre} es menor al de {sonia.nombre}")
else:
  print(f"El salrio de {madaniel.nombre} es mayor al de {sonia.nombre}")

El salario de Pirulais es menor al de Sonia

In [50]:
class Fraccion():
  num=0
  den=1

#Creando el constructor
  def __init__(self,num=0,den=1):
   self.num=num
   self.dem=den

  def multiplica(self,b):
   num=self.num*b.num
   den=self.den*b.den
   r=Fraccion(num,den)
   return r

  def imprime(self):
   print(self.num,"/",self.den)

In [51]:
#Creando objetos tipo Fracción

a1=Fraccion(4,5)
a2=Fraccion(8,9)

In [47]:
type (a1)

__main__.Fraccion

In [48]:
a1.imprime()
a2.imprime()

4 / 1
8 / 1

In [53]:
c=a1.multiplica(a2)
c.imprime()

32 / 1

In [33]:
sonia.__dict__

{'nombre': 'Sonia', 'edad': 25, 'ID': 'U000157843', 'salario': 10000000}

In [ ]:
class Empleado(): ##Iniciamos con mayuscula